@import '../Ticket/Ticket.module.scss';
button {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  width: 168px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dfe5ec;
  margin-bottom: 20px;
  white-space: nowrap;
  color: #4a4a4a;
  text-transform: uppercase;
}

button:active {
  color: $white;
  background-color: $blue;
}

.SortTabs {
  display: flex;
  align-items: center;
  text-align: center;
}
.most-chip {
  border-radius: 5px 0 0 5px;
}
.optimum {
  border-radius: 0 5px 5px 0;
}
